.pushy-link{
    list-style: none;
    color: white;
}
.pushy a{
    padding: 10px 0;
    word-wrap: break-word;
}
.pushy a:hover{
    cursor: pointer;
    color: #d1d1d1;
}
#sidenav{
    padding: 20px;
}
.pushy-link:first-of-type{
    font-size: 2rem;
    padding-bottom: 20px;
}
.pushy{
    width: 250px;
}
.pushy-left{
    transform: translate3d(-250px, 0, 0);
}
.pushy li.active a{
    color: white;
}
.menu-btn a{
    text-decoration: none;
    color: white;
}
.menu-btn{
    margin-right: auto;
}